In [1]:
import numpy as np
import pandas as pd
from Farm_Evaluator_Vec import *

In [5]:
wind = {}
for y in [2007,2008,2009,2013,2014,2015,2017]:
    wind[y] = pd.read_csv('Shell_Hackathon Dataset/Wind Data/wind_data_'+str(y)+'.csv',index_col='date')

In [6]:
wind[2007]

                   drct       sped
date
2007-01-01 00:20  290.0  12.829798
2007-01-01 00:50  290.0  15.842659
2007-01-01 01:20  290.0  15.270610
2007-01-01 01:50  300.0  13.332094
2007-01-01 02:20  290.0  12.639211
...                 ...        ...
2007-12-30 21:50  170.0  12.461807
2007-12-30 22:20  170.0  12.974947
2007-12-30 22:50  170.0  13.068684
2007-12-30 23:20  170.0  11.542264
2007-12-30 23:50  160.0  11.655424

[15548 rows x 2 columns]

In [9]:
combined_data = pd.DataFrame(columns=['drct','sped'])
for y in [2007,2008,2009,2013,2014,2015,2017]:
    combined_data = pd.concat([combined_data,wind[y]])

In [2]:
'12' in '1234'

True

In [5]:
max([[-1,2],[0,4]])

[0, 4]

In [10]:
combined_data

                   drct       sped
2007-01-01 00:20  290.0  12.829798
2007-01-01 00:50  290.0  15.842659
2007-01-01 01:20  290.0  15.270610
2007-01-01 01:50  300.0  13.332094
2007-01-01 02:20  290.0  12.639211
...                 ...        ...
2017-12-30 21:50  220.0   1.974951
2017-12-30 22:20  180.0   2.330232
2017-12-30 22:50  160.0   5.427657
2017-12-30 23:20  170.0   6.016653
2017-12-30 23:50  150.0   4.661694

[113113 rows x 2 columns]

In [11]:
combined_data.to_csv('Shell_Hackathon Dataset/Wind Data/combined_data.csv')

In [26]:
power_curve  =  loadPowerCurve('Shell_Hackathon Dataset/power_curve.csv')
n_wind_instances, cos_dir, sin_dir, wind_sped_stacked, C_t = preProcessing(power_curve)
turb_specs = {   
                 'Name': 'Anon Name',
                 'Vendor': 'Anon Vendor',
                 'Type': 'Anon Type',
                 'Dia (m)': 100,
                 'Rotor Area (m2)': 7853,
                 'Hub Height (m)': 100,
                 'Cut-in Wind Speed (m/s)': 3.5,
                 'Cut-out Wind Speed (m/s)': 25,
                 'Rated Wind Speed (m/s)': 15,
                 'Rated Power (MW)': 3
             }
turb_diam  =  turb_specs['Dia (m)']
turb_rad   =  turb_diam/2
wind_inst_freq =  binWindResourceData('Shell_Hackathon Dataset/Wind Data/combined_data.csv')
coords = pd.read_csv('Shell_Hackathon Dataset/turbine_loc_test.csv').values
AEP = getAEP(turb_rad, coords, power_curve, wind_inst_freq, 
              n_wind_instances, cos_dir, sin_dir, wind_sped_stacked, C_t)

In [22]:
#wind_inst_freq =  binWindResourceData('Shell_Hackathon Dataset/Wind Data/combined_data.csv')
#coords = pd.read_csv('Shell_Hackathon Dataset/turbine_loc_test.csv').values
%timeit AEP = getAEP(turb_rad, coords, power_curve, wind_inst_freq, n_wind_instances, cos_dir, sin_dir, wind_sped_stacked, C_t)

53.2 ms ± 1.94 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [24]:
mean_AEP = 0
for y in [2007,2008,2009,2013,2014,2015,2017]:
    wind_inst_freq =  binWindResourceData('Shell_Hackathon Dataset/Wind Data/wind_data_'+str(y)+'.csv')
    AEP = getAEP(turb_rad, coords, power_curve, wind_inst_freq, 
              n_wind_instances, cos_dir, sin_dir, wind_sped_stacked, C_t)
    mean_AEP += AEP

In [25]:
mean_AEP/7

498.3410086277553

In [36]:
l = []
x = np.array([[1,2],[2,3]])
l.append(x.tolist())

In [37]:
l.append(x.tolist())

In [38]:
l

[[[1, 2], [2, 3]], [[1, 2], [2, 3]]]

In [ ]:
def get_p_best(X,t,Obj_vals,p=0.05):
    Np = len(X)
    P = Np*p
    inds = np.argsort(Obj_vals[t])[-P:]
    p_best = np.random.choice(inds,1)[0]
    return X[p_best]